<% if flash[:notice].present? %>
     <div class="toast">
          <div class="notice"><%= notice %></div>
     </div>
<% end %>

<div class="toast">
     <% if flash[:alert].present? %>
          <div class="alert"><%= alert %>
     </div>
</div>
<% end %>