@import "welcome";
@import "posts";
@import "users";
@import "profiles";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  vertical-align: bottom;
}
* {
  box-sizing: border-box;
}

#header {
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav_list {
    display: flex;
    .nav_item {
      background-color: #333;
      text-align: center;
      height: 50px;
      line-height: 50px;
      &:not(:last-child) {
        margin-right: 2px;
      }
      a {
        color: #fff;
        font-weight: bold;
        padding: 20px;
      }
    }
  }
}

.footer {
  text-align: center;
  background-color: #333333;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
}

.toast {
  margin: 10px 0;
  text-align: center;
  .notice {
    background-color: lightgreen;
    color: #eee;
    padding: 10px;
  }
  .aleart {
    background-color: red;
    color:#eee;
    padding: 10px;
  }
}

/*
 *= require_tree .
 *= require_self
 */
