// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#profiles-new,
#profiles-edit,
#profiles-create,
#profiles-update {
  form {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    dt {
      text-align: left;
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 15px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    dd {
      text-align: left;
      label {
        display: block;
        margin-bottom: 15px;
      }
    }

    .button {
      text-align: center;
      margin: 15px 0;
      display: inline-block;
      border-radius: 5%; /* 角丸       */
      font-size: 15pt; /* 文字サイズ */
      text-align: center; /* 文字位置   */
      cursor: pointer; /* カーソル   */
      padding: 12px 12px; /* 余白       */
      background: #333; /* 背景色     */
      color: #ffffff; /* 文字色     */
      line-height: 1em; /* 1行の高さ  */
      transition: 0.3s; /* なめらか変化 */
      box-shadow: 3px 3px 1px #666666; /* 影の設定 */
      border: 2px solid #333; /* 枠の指定 */

      &:hover {
        box-shadow: none; /* カーソル時の影消去 */
        color: #333; /* 文字色     */
        background: #fff; /* 背景色     */
        transform: translate(3px, 3px);
      }
    }
  }
}
